$font-text:'Roboto', sans-serif;
$font-title: 'Shrikhand', sans-serif; 
$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;
$background-color: #f2f2f2;

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: $font-text; 
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/*Entête de page*/

.header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    &__logo {
        width: 200px;
        padding: 20px 0;
    }
   
    &__icon {
        position: absolute;
        left: 5%;
        top: 50%;
        transform: translate( -5%, -50% );
        font-size: 25px;
        color:black;
    }
}

/*Corps de page*/

/*Section 3 : restaurants*/

#restaurants {
    background-color: $background-color;
    padding: 20px;
    div { 
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;

        a {
            flex: 1 1 45%;
        }
        
        figure {
            width: 100%;
            min-width: 280px;
            height: 200px;
            background-color: white;
            border-radius: 20px;
            box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);

            img {
                width: 100%;
                height: 70%;
                object-fit: cover;
                border-radius: 20px 20px 0px 0px;
            }   
        }    
    }
}

/*Pied de page*/

.footer {
    background-color: #333333;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;

    @media screen and (min-width: 768px) {
        flex-direction: row;
    }
}
  
.footer-brand {
    font-family: $font-title;
    color: white;
    font-size: 20px;
}

.footer-nav {
    font-size: 16px;

    &__list {
        line-height: 30px;
    }

    &__link {
        color:white;
        }
}



