$font-text:'Roboto', sans-serif;
$font-title: 'Shrikhand', sans-serif; 
$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;
$background-color: #f2f2f2;

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: $font-text;
    font-size: 18px; 
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 26px;
    font-weight: 900;
}

h3 {
    font-size: 20px;
    font-weight: 900;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

.btn {
    color: white;
    padding: 20px;
    background-color: $primary-color;
    border-radius: 50px;
}

/*Entête de page*/

.header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);

    &__logo {
        width: 220px;
        padding: 20px 0;
    }
   
    &__icon {
        position: absolute;
        left: 5%;
        top: 50%;
        transform: translate( -5%, -50% );
        font-size: 25px;
        color:black;
    }
}

/*Corps de page*/

/*Section 1 : localisation et recherche*/

.search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.location {
    background-color: rgba(128, 128, 128, 0.2);
    width: 100%;
    padding: 20px 0;

    &__input{
        background-color: rgba(128, 128, 128, 0);
        border: none;
        text-align: center;
        font-weight: bold;
    }    
}

.discover {
    background-color: $background-color;
    width: 100%;
    padding: 20px;

    &__title {
        padding: 0 50px;
    }

    &__subtitle {
        color: #666666;
        font-size: 22px;
        margin-bottom: 60px;
    }
}

/*Section 2 : fonctionnement et présentation*/



/*Section 3 : restaurants*/

.restaurants {
    background-color: $background-color;
    padding: 20px;

    &__container { 
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
    }

    &__link{
        flex: 1 1 45%;
    }
            
    &__card {
        width: 100%;
        min-width: 280px;
        height: 280px;
        background-color: white;
        border-radius: 20px;
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
    }
                
    &__img {
        width: 100%;
        height: 70%;
        object-fit: cover;
        border-radius: 20px 20px 0px 0px;
    }
    
    &__description {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        line-height: 1.5em;
    }

    .fa-heart {
        font-size: 24px;
    }
}    
        
/*Pied de page*/

.footer {
    background-color: #333333;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;

    &__logo {
        font-family: $font-title;
        color: white;
        font-size: 20px;
    }
    
    &__nav {
        font-size: 16px;
    }
    
    &__list {
        line-height: 1.8em;
    }
    
    &__link {
        color:white;
    }

    @media screen and (min-width: 768px) {
        flex-direction: row;
    }
}




